.bg-body-tertiary{
background-color: rgb(182, 95, 13) !important
}
.nav-link{
color: white;
}
h1{
text-align: center;
margin-top: 20px;
color: black;
}

.cards{
display: flex;
justify-content: center;
gap: 15px;
margin-bottom: 20px;
}

.row{
display: flex;
align-items: center;
font-size: 25px;
color: black;
}

.cards1{
display: flex;
justify-content: center;
gap: 10px;
margin-bottom: 20px;
}



.cards2{
display: flex;
justify-content: center;
gap: 10px;
margin-bottom: 20px;
}

.cards3{
display: flex;
justify-content: center;
gap: 10px;
margin-bottom: 20px;
}